table.table {
    display:table;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 0 solid #DDD;
    padding: 0;
    margin: 0;
}

tr {
    display: table-row;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 0 solid #DDD;
    padding: 0;
    margin: 0;
}

/*
tr:nth-child(even) {
    background-color: #FAFAFA;
}*/

tr.even {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

tr.odd {
    background-color: #e4e8fc;
}

tr.selected {
    background-color: #f4fa88;
}

tr.selected:hover {
    background-color: #faf95a;
}

td, td.th {
    style: none;
    display:table-cell;
    border: 0 solid #DDD;
    padding: 8px;
    min-width: 150px;
    text-align: center;
}

tbody tr:hover {
    background-color: #E9FFE9;
}

td.th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}


td.buttons {
    vertical-align: top;
}

td.events tr.selected_tr {
    min-width: 200px;
    text-align: center;
    padding: 0;
    margin: 0;
}

td.events tr.selected_tr td {
    padding: 2px;
    padding-top: 6px;
    margin: 0;
}

textarea {
    min-height: 100px;
    width: 100%;
    height: 100%;
    border: 0;
    resize: none;
}

ul.top_bar {
    list-style-type: none;  
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.top_bar li{
    float: left;
}

ul.top_bar span {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 4px 20px 0px 13px;
    font-size: 19pt;
}

ul.top_bar li a {
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: center;
    padding: 11px 11px;
    text-decoration: none;
    font-size: 13pt;
}

ul.top_bar li a:hover {
    background-color: #4CAF50;
}


ul.tool_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #585858;
}

ul.tool_bar li {
    float: left;
}

#search {
    margin-left: 80px;
    padding-top: 7px;
}

ul.tool_bar li a {
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: center;
    padding: 7px 7px;
    text-decoration: none;
    font-size: 11pt;
}

ul.tool_bar li a:hover {
    background-color: rgb(70, 175, 115);
}


td.buttons button {
    float: right;

    width: 90%;
    height: 40px;
    margin-bottom: 1px;
    margin-top: 1px;

    font-size: 14px;
    color: black;
    text-align: center;
    background: #E7E7E7;
    border: 0;
}


tr.even td.buttons button {
    width: 85%;
    height: 35px;
    margin-bottom: 1px;
    margin-top: 1px;

    font-size: 14px;
    color: black;
    text-align: center;
    background: #E7E7E7;
    border: 0;
}

td.buttons button:hover {
    color: white;
    background: #4CAF50;
}

td.buttons button.delete:hover {
    color: white;
    background: red;
}

td.buttons button.save {
    color: white;
    background-color: rgba(76, 175, 80, 0.8);
}

td.buttons button.save:hover {
    background-color: rgb(76, 175, 80);
}

td.buttons button.cancel {
    color: white;
    background: rgba(240, 0, 0, 0.8);
}

td.buttons button.cancel:hover {
    background: rgba(240, 0, 0, 1);
}

span.red {
    color: red;
    font-style: italic;
    font-weight: bold;
}

span.green {
    color: darkgreen;
    font-style: italic;
    font-weight: bold;
}

span.blue {
    color: blue;
    font-style: italic;
    font-weight: bold;
}

progress::-webkit-progress-value { background: yellow; }
progress::-webkit-progress-value { background: yellow; }

progress {
    display: inline-block;
    background: yellow;
    width: 100%;
    height: 3px;
}

span.block {
    float: left;
    display: inline;
    width: 100%;
    vertical-align: middle;
    min-height: 50px;
    margin-top: 10px;
    padding: 0;
}

#dialog-overlay {

	/* set it to fill the whil screen */
	width:100%;
	height:100%;

	/* transparency for different browsers */
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	background:#000;

	/* make sure it appear behind the dialog box but above everything else */
	position:fixed;
	top:0; left:0;
	z-index:3000;

	/* hide it by default */
	display:none;
}


#dialog-box {

	/* css3 drop shadow */
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

	/* css3 border radius */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;

	background:#eee;
	/* styling of the dialog box, i have a fixed dimension for this demo */
	width:328px;

	/* make sure it has the highest z-index */
	position:fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	z-index:5000;

	/* hide it by default */
	display:none;
}

#dialog-box .dialog-content {
	/* style the content */
	text-align:left;
	padding:10px;
	margin:13px;
	color:#666;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a.button {
	/* styles for button */
	margin:10px auto 0 auto;
	text-align:center;
	display: block;
	width:50px;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;

	/* button color */
	background-color: #e33100;

	/* css3 implementation :) */
	/* rounded corner */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	/* drop shadow */
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

	/* text shaow */
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;

}

a.button:hover {
	background-color: #c33100;
}

/* extra styling */
#dialog-box .dialog-content p {
	font-weight:700; margin:0;
}

#dialog-box .dialog-content ul {
	margin:10px 0 10px 20px;
	padding:0;
	height:50px;
}


.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

/* Form wrapper styling */
.form-wrapper {
    width: 540px;
    padding: 0;
    margin: 0;
}

/* Form text input */

.form-wrapper input {
    width: 430px;
    height: 20px;
    padding: 15px 5px;
    margin: 0;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 110px;
    font: bold 15px/30px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #4CAF50;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover {
    background: #58bb59;
}

.form-wrapper button:active,
.form-wrapper button:focus {
    background: #428c43;
	outline: 0;
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #4CAF50 transparent;
    top: 9px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #58bb59;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before {
    border-right-color: #428c43;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}