
{% extends "bootstrap/base.html" %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet"
          href="{{url_for('.static', filename='style.css')}}">
{% endblock %}
{% block title %}
    ExTractor
{% endblock %}
{% block navbar %}
    <ul class="top_bar">
        <li><span>ExTractor</span></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/sources">Sources</a></li>
        <li><a href="/merge" id="merging">Merging</a></li>
        <li id="search">
            <form class="form-wrapper cf">
                <input type="text" name="query" placeholder="Search here..." required>
                <button type="submit" onclick="search(null)">Search</button>
            </form>
        </li>
    </ul>
{% endblock %}
</html>
    
