<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script src="{{ url_for('static', filename='drawing.js') }}"></script>
<script src="{{ url_for('static', filename='events.js') }}"></script>

{% extends "base.html" %}
{% block content %}

</html>
    <ul class="tool_bar">
        <li><a href="#" onclick=joinEvents()>Join events</a></li>
        <li><a href="#" onclick=fullAutoMerge()>Full AutoMerge</a></li>
    </ul>
    <progress id="progress_bar" value="0" max="100"></progress>
    <div class="form-group"> 
        <label for="pattern"> Events containing: </label>
        <input name="pattern"/>

        <label for="site_name"> Site address: </label>
        <input name="site_name"/>

        <button class="search" onclick="search()"> Search for events! </button>
    </div>
    <table class="table" id="events">
        <tr>
            <td class="th"> Date </td>
            <td class="th"> Entity1 </td>
            <td class="th"> Action </td>
            <td class="th"> Entity2 </td>
            <td class="th"> Sentence </td>
            <td class="th"> Source </td>
            <td class="th"> Actions </td>
        </tr>
    </table>
{% endblock %}
