<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{% extends "base.html" %}
{% block content %}

<script type=text/javascript>
    function createForm(event) {
        var html = '<form class="tr buttons" action="" method="post">';
        for (var i = 1; i < 6; ++i) {
            html += '<span class="td">' + event[i] + '</span>';
        }
        html += '<span class="td buttons">'
        html += '<input class="modify" type="submit" name=' + event[0] + ' value="Modify">';
        html += '<input class="delete" type="submit" name=' + event[0] + ' value="Delete">';
        html += '</span> </form>';
        return html;
    }

    function loadEvents() {
        $.getJSON($SCRIPT_ROOT + '/_load_events', {}, function(data) {
                var table = document.getElementById("events");
                var events = data.result;
                for (index in events) {
                    table.innerHTML += createForm(events[index]);
                }
            });
    }

    $(function() {
        $('a#test').bind('click', function() {
            loadEvents();
            return false;
        });

        $('a#info').bind('click', function() {
            alert("scrollTop = " + $(this).scrollTop() + "\n" + "innerHeight = " + $(this).innerHeight() + "\n" + "height = " + $(this).height());
        });

    });

    $(window).bind('scroll', function() {
        if($(this).scrollTop() + window.innerHeight + 50 >= $("#events").innerHeight()) {
            loadEvents();
        }
    });

</script>

</html>
    <a href="#" id="test">Test</a>
    <div class="table" id="events">
            <form class="tr buttons" action="" method="post">
                <span class="th"> Date </span>
                <span class="th"> Entity1 </span>
                <span class="th"> Action </span>
                <span class="th"> Entity2 </span>
                <span class="th"> Sentence </span>
                <span class="th"> Actions </span>
            </form>
        {% for event in events %}
            {% if event[0] == form.selected_event_id %}
                <form class="tr buttons selected_tr" action="" method="post" name="editForm">
                    <span class="td"> {{form.date()}} </span>
                    <span class="td"> {{form.entity1()}} </span>
                    <span class="td"> {{form.action()}} </span>
                    <span class="td"> {{form.entity2()}} </span>
                    <span class="td"> {{form.sentence()}} </span>
                    <span class="td buttons">
                            <input class="save" type="submit" name={{event[0]}} value="Save">
                            <input class="cancel" type="submit" name={{event[0]}} value="Cancel">
                    </span>
                </form>
            {% else %}
                <form class="tr buttons" action="" method="post">
                    <span class="td"> {{event[1]}} </span>
                    <span class="td"> {{event[2]}} </span>
                    <span class="td"> {{event[4]}} </span>
                    <span class="td"> {{event[3]}} </span>
                    <span class="td"> {{event[5]}} </span>
                    <span class="td buttons">
                            <input class="modify" type="submit" name={{event[0]}} value="Modify">
                            <input class="delete" type="submit" name={{event[0]}} value="Delete">
                    </span>
                </form>
            {% endif %}
        {% endfor %}
    </div>
    <a href="#" id="info">Test</a>

{% endblock %}
