{% extends "base.html" %}
{% block content %}
</html>
    <table class="events">
        <thead> 
            <tr>
                <th> Date </th>
                <th> Entity1 </th>
                <th> Action </th>
                <th> Entity2 </th>
                <th> Sentence </th>
                <th> Actions </th>
            </tr>
        </thead>
        {% for event in events %}
            {% if event[0] == form.selected_event_id %}
                <tr class="selected_tr">
                    <td> <textarea> {{event[1]}} </textarea> </td>
                    <td> <textarea> {{event[2]}} </textarea> </td>
                    <td> <textarea> {{event[4]}} </textarea> </td>
                    <td> <textarea> {{event[3]}} </textarea> </td>
                    <td> <textarea> {{event[5]}} </textarea> </td>
                    <td class="buttons">
                        <form class="buttons" action="" method="post">
                            <input class="save" type="submit" name={{event[0]}} value="Save">
                            <input class="cancel" type="submit" name={{event[0]}} value="Cancel">
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td> {{event[1]}} </td>
                    <td> {{event[2]}} </td>
                    <td> {{event[4]}} </td>
                    <td> {{event[3]}} </td>
                    <td> {{event[5]}} </td>
                    <td class="buttons">
                        <form class="buttons" action="" method="post">
                            <input class="modify" type="submit" name={{event[0]}} value="Modify">
                            <input class="delete" type="submit" name={{event[0]}} value="Delete">
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
