{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}{% block title %} Test table {% endblock %}
{% block navbar %}
{{nav.main_navbar.render()}}
{% endblock %}{% block content %}
    <form action="" method="post" name="get_articles">
        {{form.hidden_tag()}}
        <div class="form-group">
        {{form.article_count(class="col-lg-2", placeholder="Number of articles per page" )}}
        {{form.start_date(class="col-lg-2", placeholder="Date of last article: dd.mm.yy")}} 
        <button type="submit" class="btn btn-primary">Get articles</button>
        </div>
    </form>
    <table class="events">
        <thead> 
            <tr>
                <th> Entity1 </th>
                <th> Action </th>
                <th> Entity2 </th>
                <th> Sentence </th>
            </tr>
        </thead>
        {% for event in events%}
        <tr> 
            <td> {{event[0]}} </td>
            <td> {{event[2]}} </td>
            <td> {{event[1]}} </td>
            <td> {{event[3]}} </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
</html>
    
