<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


{% extends "base.html" %}
{% block content %}

</html>
    <table class="table">
        <thead> 
            <tr>
                <td class="th"> Site </td>
                <td class="th"> Latest downloaded article date </td>
                <td class="th"> Actions </td>
                <td class="th"> Status </td>
            </tr>
        </thead>
        {% for article in articles %}
        <tr name={{article[0]}}>
            <td> {{article[0]}} </td>
            <td> {{article[1]}} </td>
            <td>
                <form action="" method="post">
                    <button name="fetch" class="modify" onclick='fetchArticles("{{article[0]}}")')>Fetch new articles</button>
                </form>
            </td>
            <td class="fetch_status" id={{article[0]}}> No articles are being downloaded now </td>
        </tr>
        {% endfor %}
    </table>

<script src="{{ url_for('static', filename='drawing.js') }}"></script>
<script src="{{ url_for('static', filename='sources.js') }}"></script>

{% endblock %}

