{% extends "base.html" %}
{% block content %}
</html>
    <table class="sources">
        <thead> 
            <tr>
                <th> Site </th>
                <th> Last article date </th>
            </tr>
        </thead>
        {% for article, form in articles %}
        <tr> 
            <td> {{article[0]}} </td>
            <td> {{article[1]}} </td>
            <td>
                <form action="" method="post">
                    {{form.hidden_tag()}}
                    {{form.fetch_articles(class="btn btn-primary")}}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
